<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>ServicePicker</string>
		<key>height</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>LocationCell</string>
		<key>left_icon</key>
		<string>location</string>
		<key>right_icon</key>
		<string>location_arrow</string>
		<key>title</key>
		<string>UBICACION</string>
		<key>height</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>ServiceAdviceCell</string>
		<key>height</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>PickerCell</string>
		<key>left_icon</key>
		<string>ice</string>
		<key>right_icon</key>
		<string>down_arrow</string>
		<key>title</key>
		<string>CONDICION CLIMATICA</string>
		<key>height</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SliderCell</string>
		<key>left_icon</key>
		<string>sun</string>
		<key>title</key>
		<string>TEMPERATURA</string>
		<key>unity</key>
		<string>°C</string>
		<key>min</key>
		<integer>-40</integer>
		<key>max</key>
		<integer>50</integer>
		<key>height</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SliderCell</string>
		<key>left_icon</key>
		<string>wind</string>
		<key>title</key>
		<string>VIENTO</string>
		<key>unity</key>
		<string>km/h</string>
		<key>min</key>
		<integer>19</integer>
		<key>max</key>
		<integer>52</integer>
		<key>height</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SliderCell</string>
		<key>left_icon</key>
		<string>cloud</string>
		<key>title</key>
		<string>HUMEDAD</string>
		<key>unity</key>
		<string>%</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>height</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SliderCell</string>
		<key>left_icon</key>
		<string>ice</string>
		<key>title</key>
		<string>Nieve</string>
		<key>unity</key>
		<string>%</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>height</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>PredictionSliderCell</string>
		<key>left_icon</key>
		<string>equalizer</string>
		<key>title</key>
		<string>PREDICCION</string>
		<key>height</key>
		<integer>120</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>AcceptButtonCell</string>
		<key>title</key>
		<string>PREDICCION</string>
		<key>height</key>
		<integer>100</integer>
	</dict>
</array>
</plist>
